.Track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.Track-left {
  display: flex;
  align-items: center;
}

.Track-album-art {
  width: 60px;
  height: 60px;
  margin: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.Track-volume {
  margin-left: 10px;
  width: 80px;
}

.Track-play-button,
.Track-action {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
  transition: color 0.3s;
}

.Track-play-button:hover,
.Track-action:hover {
  color: #1db954; /* Spotify green */
}
