.PlaylistList {
  border-radius: 100px;
  margin-top: 20px;
  height: 250px;
  overflow-y: scroll;
  padding: 2rem 2rem;
  background-color: rgba(1, 63, 33, 0.7);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .PlaylistList {
    width: 80%;
    margin-bottom: 2rem;
  }
}
